* {
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
	padding: 0;
	border: 0;
}
a{
    text-decoration: none;
    display: inline-block;
}
.container {
    max-width: var(--maxWidth);
    margin: 0 auto;
    padding: 0 15px;
}
.containerP0 {
    max-width: var(--maxWidth);
    margin: 0 auto;
    padding: 0;
}
body{
    margin: auto;
    padding: 0;
    font: 16px Helvetica,Arial,sans-serif;
    max-width: 1920px;
    min-width: 320px;
    color: #000;
}

:root{
    --maxWidth: 1200px;
    --btnColorFixed: #000;
    --mainColor: #000
}

@mixin h1Title{
    font-weight: 700;
    font-size: clamp(32px, 5vw, 40px);
    margin: 0;
}
@mixin h2Title {
    font-size: clamp(28px, 5vw, 32px);
    font-weight: 600;
    margin: 0;
}
@mixin btn {
    background-color: var(--mainColor);
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 20px;
    padding: 10px 30px 10px 50px;
    border-radius: 10px;
    transition: .3s;
    span{
    position: relative;
        &::before{
            content: '';
            position: absolute;
            background-image: url('../icons/telephone-fill.svg');
            background-size: cover;
            background-repeat: no-repeat;
            width: 20px;
            aspect-ratio: 1;
            left: -45px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &:hover{
        background-color: #0f426e;
        color: #fff;
    }
}