* {
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
body{
    outline: 1px solid red;
    margin: auto;
    padding: 0;
    font: 16px Helvetica,Arial,sans-serif;
    max-width: 1920px;
    min-width: 320px;
    color: #000;
}